<div ><!-- IMPLEMENT CONTEXT MENU!!!! -->

    <!-- Sidebar  -->
    <div class="container">
        <div class = "navbar navbar-default navbar-fixed-left">
            <ul class="nav navbar-nav navbar">
                <li>
                    <a ng-click="toggleInputMenu('search');"><i class="fa fa-eye"></i>&nbsp;&nbsp;Search</a>
                </li> 
                <li>
                <li>
                    <a ng-click="toggleInputMenu('add');"><i class="fa fa-eye"></i>&nbsp;&nbsp;Add</a>
                </li> 
                <li>
                    <a ng-click="toggleInputMenu('move');"><i class = "fa fa-plus-square-o"></i>&nbsp;&nbsp;Move</a>
                </li>
                </li>
                <li>
                    <a ng-click="toggleInputMenu('modify');"><i class="fa fa-magic"></i>&nbsp;&nbsp;Modify</a>
                </li>
                <li>
                    <a ng-click="toggleInputMenu('scheduleHarvest');"><i class="fa fa-magic"></i>&nbsp;&nbsp;Schedule Harvest</a>
                </li>
                <li>
                    <a ng-click="toggleInputMenu('harvest');"><i class="fa fa-magic"></i>&nbsp;&nbsp;Harvest</a>
                </li>
                <li>
                    <a ng-click="toggleInputMenu('scheduleDestruction');"><i class="fa fa-magic"></i>&nbsp;&nbsp;Schedule Destruction</a>
                </li>
                <li>
                    <a ng-click="toggleInputMenu('destroy');"><i class="fa fa-times"></i>&nbsp;&nbsp;Destroy</a>
                </li>
                <li>
                    <a ng-click="toggleInputMenu('waste');"><i class="fa fa-magic"></i>&nbsp;&nbsp;Log Waste</a>
                </li>
                <li>
                    <a ng-click="toggleInputMenu('cure');"><i class="fa fa-magic"></i>&nbsp;&nbsp;Cure</a>
                </li>
                <li>
                    <a ng-click="toggleInputMenu('inventory');"><i class="fa fa-magic"></i>&nbsp;&nbsp;To Inventory</a>
                </li>

                
                <!--  <li>
                {{email}}
                </li> -->
            </ul>
        </div>

        <div id="wrapper">
            <!-- Search Plant Input Context Menu-->
            <div ng-show = "showSearch" class = "navbar navbar-default navbar-fixed-left">
                <table class = "table">
                    <tr>
                        <td><h5><i class = "fa fa-plus-square-o"></i>&nbsp;&nbsp;Search Strain Name:</h5></td>
<!--                        <td><input class = "form-control" ng-model="search.strain" placeholder = "  strain name"> </td>-->
                       
                   <td> <input type="text" ng-model="search.strain" placeholder = " strain name" typeahead="plant.strain for plant in plants | filter:$viewValue | limitTo:8" class="form-control"></td>
                    </tr>
                </table>
            </div>
            
            <!-- Remove Plant Input Context Menu-->
            <div ng-show = "showRemovePlantInput" class = "navbar navbar-default navbar-fixed-left">
                <ul class="nav nav-pills nav-stacked">
                    <li>
                    <a><label>Are you sure you want to remove {{selected.name}}?</label>
                    </a>
                    </li>
                    
                    <li class = "active">
                    <a ng-click="removePlant();"><i class = "fa fa-thumbs-up"></i> Yes</a>
                    </li>
            </div>

            <!-- Add Plant Input Context Menu-->
            <div ng-show = "showAddPlantInput" class = "navbar navbar-default navbar-fixed-left">
                <table class = "table">
                    <ul>
                        <li>Add New Plant</li>
                    </ul>
                    <tr>
                        <td><h5><i class = "fa fa-plus-square-o"></i>&nbsp;&nbsp;Strain?:</h5></td>
                        <td><input class = "form-control" ng-model="newRoomName" placeholder = " new plant name"> </td>
                    </tr>
                    <tr>
                        <td>
                            <h5><i class = "fa fa-plus-square-o"></i>&nbsp;&nbsp;Where?:</h5>
                        </td>
                        <td>
                            <!-- <select class = "form-control" ng-model="newPlantStrain"><option value = "inventoryRoom">Inventory Room</option><option value = "plantRoom">Plant Room</option></select>  -->
                            <span dropdown on-toggle="toggled(open)">
                                <a href id="simple-dropdown" dropdown-toggle>
                                Click me for a dropdown
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="simple-dropdown">
                                    <li ng-repeat="room in roomView">
                                        <a href>{{room.name}}</a>
                                    </li>
                                </ul>
                            </span>
                        </td>
                    </tr>
                    <tr>
<!--                         <td>
                            <select class = "form-control" ng-model="newPlantRoom"><option ng-repeat "room in rooms" value = "{{room.name}}">
                        </td> -->
                    </tr>
                </table>
                <ul class="nav nav-pills nav-stacked">
                    <li class = "active">
                        <a ng-click="addRoom();"><i class = "fa fa-thumbs-up"></i> Submit</a>
                    </li>
                </ul>
            </div>
        
            <!-- Action Status Context Menu-->
            <div ng-show = "actionStatus"> 
                <div class = "navbar navbar-inverse navbar-fixed-left">
                    <ul class="nav navbar-nav navbar"> 
                        <li>
                        <a>{{actionStatus}}</a>

                        </li>
                    </ul>
                </div>
            </div>
            <!-- Plant Table -->
            <div id="page-content-wrapper">
                <accordion close-others="false">
                    <accordion-group heading = {{room.name}} ng-repeat="room in roomView">
                                <table class="table">
                                    <tr ng-repeat = "plant in room.plants | orderBy:['-sessiontime','strain','state']| filter:search">
                                        <td>{{plant.strain}}</td>
                                        <td>{{plant.stateName}}</td>
                                        <td>{{plant.id}}</td>
                                    </tr>
                                </table>

<!--                                <tr ng-show = "plant.showDeriv"><td>{{plant.deriv}} kkkpiyhhioi</td></tr>-->


                        </table>
                    </accordion-group>
                </accordion>
                <br />
            </div>
        </div>
    </div>
</div>
