<div ><!-- IMPLEMENT CONTEXT MENU!!!! -->

    <!-- Sidebar  -->
    <div class="container">
        <div class = "navbar navbar-default navbar-fixed-left">
            <ul class="nav navbar-nav navbar">
                <li>
                    <a ng-click="scheduleDestruction();"><i class="fa fa-eye"></i>&nbsp;&nbsp;View Contents</a>
                </li> 
                <li>
                    <a ng-click="toggleInputMenu('add');"><i class = "fa fa-plus-square-o"></i>&nbsp;&nbsp;Add Room</a>
                </li>
                <li>
                    <a ng-click="toggleInputMenu('modify');"><i class="fa fa-magic"></i>&nbsp;&nbsp;Rename Room</a>
                </li>
                <li>
                    <a ng-click="toggleInputMenu('remove');"><i class="fa fa-times"></i>&nbsp;&nbsp;Remove Room</a>
                </li>
                <!--  <li>
                {{email}}
                </li> -->
            </ul>
        </div>

        <div id="wrapper">
            <!-- Modify Room Input Context Menu-->
            <div collapse = "!showModifyRoomInput" class = "navbar navbar-default navbar-fixed-left">
                    <table class = "table">
                    <tr>
                    <td><h5><i class="fa fa-magic"></i>&nbsp;&nbsp;Rename {{selected.name}}:&nbsp;&nbsp;&nbsp; </h5></td>
                    <td><input class="form-control" ng-model="newModifyRoomName" placeholder = " new room name"></td>
                    </tr>
                    </table>
                <ul class="nav nav-pills nav-stacked">
                    <li class = "active">
                    <a ng-click="modifyRoom();"><i class = "fa fa-thumbs-up"></i> Submit</a>
                    </li>
            </div>
            
            <!-- Remove Room Input Context Menu-->
            <div collapse = "!showRemoveRoomInput" class = "navbar navbar-default navbar-fixed-left">
                <ul class="nav nav-pills nav-stacked">
                    <li>
                    <a><label>Are you sure you want to remove {{selected.name}}?</label>
                    </a>
                    </li>
                    <li class = "active">
                    <a ng-click="removeRoom();"><i class = "fa fa-thumbs-up"></i> Yes</a>
                    </li>
            </div>

            <!-- Add Room Input Context Menu-->
            <div collapse = "!showAddRoomInput" class = "navbar navbar-default navbar-fixed-left">
                    <table class = "table">
                        <tr>
                            <td><h5><i class = "fa fa-plus-square-o"></i>&nbsp;&nbsp;New Room Name:</h5></td>
                            <td><input class = "form-control" ng-model="newRoomName" placeholder = " new room name"> </td>
                        </tr>
                        <tr>
                            <td>
                                <h5><i class = "fa fa-plus-square-o"></i>&nbsp;&nbsp;New Room Type:</h5>
                            </td>
                            <td>
                                <select class = "form-control" ng-model="newRoomType"><option value = "inventoryRoom">Inventory Room</option><option value = "plantRoom">Plant Room</option></select> 
                            </td>
                        </tr>
                    </table>
                    <ul class="nav nav-pills nav-stacked">
                        <li class = "active">
                            <a ng-click="addRoom();"><i class = "fa fa-thumbs-up"></i> Submit</a>
                        </li>
                    </ul>
                    
            </div>
        
            <!-- Action Status Context Menu-->
            <div collapse = "!actionStatus"> 
                        <alert>{{actionStatus}}</alert>
               
            </div>

            <div id="page-content-wrapper">
                <accordion close-others="false">
                    <accordion-group heading="Plant Rooms" is-open="true">
                        <table class="table">
                            <tr ng-class = "selected === room ? 'warning' : 'accordion'" ng-repeat="room in plantRooms" ng-repeat="room in inventoryRooms" ng-click = "setSelected(room)">
                            <!-- <i class="pull-left glyphicon " ng-class="{'warning': room == selected, '': room != selected }"></i> -->
                                <td>{{room.name}}<td>
                            </tr>
                        </table>
                    </accordion-group>

                    <accordion-group heading="Inventory Rooms" is-open="true">                   
                        <table class="table">
                            <tr ng-class ="selected === room ? 'warning' : 'accordion'" ng-repeat="room in inventoryRooms" ng-click = "setSelected(room)">
                                <td>{{room.name}}</td>
                            </tr>
                        </table>
                    </accordion-group>
                </accordian>

               <!--  <div class = "table-responsive">
                    <table class="table">
                    <h5>Plant Rooms</h5>
                        <tr ng-class ="selected === room ? 'warning' : 'table'" ng-repeat="room in plantRooms" ng-click = "setSelected(room)">
                            <td>{{room.name}}</td>
                        </tr>
                    </table>
                    <table class="table">
                       <h5> Inventory Rooms</h5>
                        <tr ng-class ="selected === room ? 'warning' : 'table'" ng-repeat="room in inventoryRooms" ng-click = "setSelected(room)">
                            <td>{{room.name}}</td>
                        </tr>
                    </table>
                </div> -->
            </div>
        </div>
    </div>
</div>
